@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 221 44% 15%;
    --card: 208 100% 97%;
    --card-foreground: 221 44% 15%;
    --popover: 208 100% 97%;
    --popover-foreground: 221 44% 15%;
    --primary: 221 44% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 221 30% 90%;
    --secondary-foreground: 221 44% 25%;
    --muted: 221 30% 90%;
    --muted-foreground: 221 44% 45%;
    --accent: 180 100% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 30% 85%;
    --input: 221 30% 85%;
    --ring: 221 44% 41%;
    --chart-1: 221 44% 41%;
    --chart-2: 180 100% 25%;
    --chart-3: 221 44% 61%;
    --chart-4: 180 100% 35%;
    --chart-5: 221 44% 81%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 221 30% 10%;
    --foreground: 0 0% 98%;
    --card: 221 30% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 221 30% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 221 44% 61%;
    --primary-foreground: 221 44% 15%;
    --secondary: 221 30% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 221 30% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 180 100% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 30% 25%;
    --input: 221 30% 25%;
    --ring: 221 44% 61%;
    --chart-1: 221 44% 61%;
    --chart-2: 180 100% 35%;
    --chart-3: 221 44% 41%;
    --chart-4: 180 100% 25%;
    --chart-5: 221 44% 21%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
